[package]
authors = ["Arvid Norlander"]
categories = ["config"]
description = "Chezmoi addon to patch ini files with mixed settings and state (experimental rust branch)"
edition = "2021"
keywords = ["ini", "config", "configuration", "chezmoi"]
license = "GPL-3.0-only"
name = "chezmoi_modify_manager"
repository = "https://github.com/VorpalBlade/chezmoi_modify_manager"
rust-version = "1.70.0"
version = "2.2.4"

[features]
default = ["updater-tls-rusttls", "keyring"]
# Support for keyring transform
keyring = ["ini-merge/keyring"]
# Built in updater, distro packages probably wants to disable this.
# This is the version based on native TLS: platform OpenSSL or platform specific
updater-tls-native = ["self_update", "reqwest", "reqwest/default-tls"]
# Built in updater, distro packages probably wants to disable this.
# This is the version based on vendored OpenSSL
updater-tls-native-vendored = [
    "self_update",
    "reqwest",
    "reqwest/native-tls-vendored",
]
# Built in updater, distro packages probably wants to disable this.
# This is the version based on RustTLS: TLS entirely in rust.
updater-tls-rusttls = ["self_update", "self_update/rustls"]

[target.'cfg(windows)'.dependencies]
self_update = { version = "0.39.0", optional = true, default-features = false, features = [
    "archive-zip",
    "compression-zip-deflate",
] }

[target.'cfg(unix)'.dependencies]
self_update = { version = "0.39.0", optional = true, default-features = false, features = [
    "archive-tar",
    "compression-flate2",
] }

[dependencies]
anstream = { version = "0.6.5", default-features = false, features = [
    "auto",
    "wincon",
] }
anstyle = { version = "1.0.4", default-features = false }
anyhow = { version = "1.0.77", features = [
    "std",
    "backtrace",
], default-features = false }
bpaf = { version = "0.9", features = [
    "autocomplete",
    "derive",
], default-features = false }
camino = { version = "1.1.6", default-features = false }
duct = { version = "0.13.7", default-features = false }
env_logger = { version = "0.10.1", default-features = false }
glob = { version = "0.3.1", default-features = false }
indoc = { version = "2.0.4", default-features = false }
ini-merge = { version = "0.3.5", default-features = false }
itertools = { version = "0.12.0", default-features = false }
log = { version = "0.4.20", default-features = false }
os_info = { version = "3.7.0", default-features = false }
reqwest = { version = "0.11", default-features = false, optional = true }
rustc_version_runtime = { version = "0.3.0", default-features = false }
strum = { version = "0.25.0", features = [
    "derive",
    "std",
], default-features = false }
which = { version = "5.0.0", default-features = false }
winnow = { version = "0.5.31", default-features = false, features = [
    "simd",
    "std",
] }

[dev-dependencies]
pathdiff = { version = "0.2.1", features = [
    "camino",
], default-features = false }
pretty_assertions = { version = "1.4.0", default-features = false, features = [
    "std",
] }
tempfile = { version = "3.9.0", default-features = false }
