[package]
authors = ["Arvid Norlander"]
categories = ["config"]
description = "Chezmoi addon to patch ini files with mixed settings and state (experimental rust branch)"
edition = "2021"
keywords = ["ini", "config", "configuration", "chezmoi"]
license = "GPL-3.0-only"
name = "chezmoi_modify_manager"
repository = "https://github.com/VorpalBlade/chezmoi_modify_manager"
version = "2.0.7"
rust-version = "1.69.0"

[features]
default = ["updater-tls-rusttls"]
# Built in updater, distro packages probably wants to disable this.

# Native TLS: OpenSSL or platform specific
# Note that vendored variant does not apply to Windows or OS X that don't use OpenSSL.

# With native TLS (linking to system OpenSSL)
updater-tls-native = ["self_update", "reqwest", "reqwest/default-tls"]
# With vendored native TLS (vendored OpenSSL)
updater-tls-native-vendored = [
    "self_update",
    "reqwest",
    "reqwest/native-tls-vendored",
]
# Rusttls: TLS entirely in rust.
updater-tls-rusttls = ["self_update", "self_update/rustls"]

[target.'cfg(windows)'.dependencies]
self_update = { version = "0.37.0", optional = true, default-features = false, features = [
    "archive-zip",
    "compression-zip-deflate",
] }

[target.'cfg(unix)'.dependencies]
self_update = { version = "0.37.0", optional = true, default-features = false, features = [
    "archive-tar",
    "compression-flate2",
] }

[dependencies]
anyhow = { version = "1.0.72", features = ["backtrace"] }
bpaf = { version = "0.9", features = ["autocomplete", "derive"] }
duct = "0.13.6"
indoc = "2.0.3"
ini-merge = { version = "0.2.1", default-features = false, features = [
    "keyring",
] }
itertools = "0.11.0"
reqwest = { version = "0.11", default-features = false, optional = true }
strum = { version = "0.25.0", features = ["derive"] }
thiserror = "1.0.44"
winnow = "0.5.2"

[dev-dependencies]
pretty_assertions = "1.4.0"
