style: github
template: CHANGELOG.tpl.md
info:
  title: CHANGELOG
  repository_url: https://github.com/VorpalBlade/chezmoi_modify_manager
options:
  commits:
     filters:
       Type:
         - docs
         - feat
         - fix
         - perf
         - refactor
         - tests
  commit_groups:
    title_maps:
      docs: Documentation
      feat: Features
      fix: Bug Fixes
      perf: Performance Improvements
      refactor: Code Refactoring
      tests: Unit & integration tests
  header:
    pattern: "^(\\w*)\\:\\s(.*)$"
    pattern_maps:
      - Type
      - Subject
  notes:
    keywords:
      - BREAKING CHANGE